$navbar-height = 75px;
$title-height = 100px;
$breakpoint = 700px;

sp() {
  @media screen and (max-width: $breakpoint) {
    {block}
  }
}

button-mixin(w, h) {
  background: hsl(48, 88%, 51%);
  height: w;
  width: h;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
       
  &:hover {
    animation-name: grad;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes grad {
    100% {
      background: hsl(48, 78%, 41%);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  
  li {
    list-style: none;
  }  
  a {
    text-decoration: none;
    color: black;
  }
}

#header {
  background: #eee;
  position: fixed;
  height: $navbar-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding 10px 0;
  z-index: 2;
  
  +sp() {
    position: relative;
    height: $navbar-height * 4;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    width: 60vw;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    
    +sp() {
      margin-left: -30px;      
      width: auto;
      height: $navbar-height;
    }
      
    #header-img {
      width: 100%;
      height: auto;
    }
  }

  
  #nav-bar {
    display: flex;
    width: 35vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

    +sp() {
        margin-right: 0;
        height: $navbar-height * 3;
    }    
      
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      
      +sp() {
        flex-direction: column;
      }
    }
  }
}

.page-wrapper {
  padding-top: $navbar-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
  #section-hero {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    h1 {
      height: 80px;
      line-height: 80px;
      text-align: center;
      
      +sp() {
        line-height: 40px;
      }
    }
    
    #form {
      height: 100px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
      input[type='email'] {
        height: 30px;
        width: 100%;
        padding: 5px;
      }
      
      input[type='submit'] {
        button-mixin(30px, 160px);
      }
    }
  }
  
  #section-features {
    margin-top: 80px;
    height: 420px;
    
    #feature-list {
      padding: 0 20px;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 20% 1fr;
      justify-content: content;
      
      .feature-icon, .feature-content {
        align-self: center;
        justify-self: center;
      }
      
      .feature-icon {
        color: hsl(33, 100%, 50%);
      }
    }
  } // #section-features end
    
  #section-howitworks {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
    #video {
      max-width: 560px;
      width: 100%;
    }
  } // section-howitworks
    
  #section-pricing {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    +sp() {
      flex-direction: column;
      align-items: center;
    }
    
    .card {
      text-align: center;
      width: calc(100% / 3);
      margin: 20px;
      
      +sp() {
        width: 80%;
      }
      
      // Flex
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
      // Shadow
      border-radius: 2px;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      
      .level {
        background: #ddd;
        width: 100%;
        padding: 15px 0;
      }
      
      .price {
        width: 100%;
        padding: 15px 0;
        
        p {
          font-weight: 1000;
          font-size: 24px;
        }
      }
      
      .desc {
        line-height: 30px;
        padding-bottom: 15px;
      }
           
      .select-btn {
        button {
          button-mixin(50px, 120px);
          border: none;
        }
        
        padding: 15px;
      }
    }
  } // section-pricing
  
  #footer {
    margin-top: 50px;
    padding 20px 0;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background: #ddd;
    
    #footer-links {
      padding-right: 40px;
      width: 240px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    p {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
      color: #333;
    }
  } // footer
} // .page-wrapper end

