doctype HTML
html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet')

    link(href='./index.styl' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  header#header
    nav#navbar
      ul
        li
          a(href='#section-about') About
        li
          a(href='#section-work') Work
        li
          a(href='#section-contact') Contact
  
  #main
    section#section-hero
      h1.title Hey I'm Mimic.
      p.subtitle
        a(href='#') a web developer
    
    section#section-work
      h2 These are some of my projects..
      #work-list
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642794/d084d718-6171-11e6-83fa-ede5d0a67ad2.png')
            .caption Tribute Page
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642771/7cd6a0c4-6171-11e6-87fb-915f6084d104.png')
            .caption Random Quote Machine
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642772/7d02406c-6171-11e6-8c79-40a2933163dc.png')
            .caption JavaScript Calculator 
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642773/7d08cb94-6171-11e6-8c45-22e7cf64683e.png')
            .caption Map Data Across the Globe
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642774/7d091806-6171-11e6-8d47-ecf2f2833fe2.png')
            .caption Wikipedia Viewer
        .work-item
          a(href='https://codepen.io/FreeCodeCamp/pen/ONjoLe' target='_blank')
            img(src='https://cloud.githubusercontent.com/assets/15967809/17642775/7d354304-6171-11e6-8b56-66eee4681d88.png')
            .caption Tic Tac Toe Game
      a.button Show all
    
    section#contact
      h2 Let's work together...
      h3 How do you take your coffee?
      #contact-list
        a.contact Facebook
        a.contact GitHub
        a.contact Twitter
        a.contact Send a mail
        a.contact Call me 
    
    footer#footer
      #footer-msg **This is just a fake portfolio.. All the projects and contact details given are not real..
      #copyright &copy; Created for FreeCodeCamp