doctype HTML
html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet')

    link(href='./index.styl' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  h1 hello